footer.footer.mt-auto.py-4
    div.container.fw-lighter
        div.row
            div.col.col-md-6.d-flex.justify-content-between
                div
                    p.text-muted.text-start.mb-0 Ivan Azoyan © 2024
            div.col.col-md-6.text-md-end.d-flex.justify-content-center
                ul.list-inline.mb-0
                    li.list-inline-item
                        a(href="upload", title="Upload your own code", class="text-muted text-decoration-none") Upload
                    li.list-inline-item
                        a(href="https://github.com/azoyan/cloc.info", title="Go to cloc.info GitHub repository", class="text-muted text-decoration-none") GitHub
