<footer class="footer mt-auto py-4">
  <div class="container fw-lighter">
    <div class="row">
      <div class="col col-md-6 d-flex justify-content-between">
        <div>
          <p class="text-muted text-start mb-0">Ivan Azoyan © 2024</p>
        </div>
      </div>
      <div class="col col-md-6 text-md-end d-flex justify-content-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="upload" title="Upload your own code" class="text-muted text-decoration-none">Upload</a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/azoyan/cloc.info" title="Go to cloc.info GitHub repository" class="text-muted text-decoration-none">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
