link(rel="canonical", href="https://cloc.info")
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="theme-color", content="#000000")
meta(name="description", content="Count lines of code (cloc) online. Get information of any git repository online or upload your own code")
meta(name="og:description", content="Count lines of code (cloc) online. Get information of any git repository online or upload your own code")
meta(name="og:title", content="Count lines of code")
meta(name="og:site_name", content="Count lines of code")
meta(name="og:url", content="https://cloc.info")
meta(name="og:image", content="./android-chrome-192x192.png")
meta(name="og:image:width", content="192")
meta(name="og:image:height", content="192")
meta(name="og:locale", content="en_US")
meta(name="og:type", content="website")
meta(name="google-site-verification", content="ckQrLb6lG-zoXPWIEyOB13ZXK7Sgcx1IRHfxtexytI4")
link(rel="shortcut icon", type="image/ico", id="favicon" href="../assets/favicon.ico")
link(rel="apple-touch-icon", sizes="180x180", href="../assets/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="../assets/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="../assets/favicon-16x16.png")
title Count Lines of Code Online - cloc.info
