doctype html
html(lang="en")
    include ../components/meta.pug
    block styles
        link(rel="stylesheet" href="/src/styles/main.css")
    //- script(src="https://cdn.tailwindcss.com")
    block scripts
body(class="dark:bg-zinc-900")
    include ../components/nav.html
    block content
    include ../components/footer
