extends ../layouts/main.pug


block scripts
    script(type="module", src='../js/index.js')
    script(type="module", src='../js/api.js')
    script(type="module", src='../js/git_url_parser.js')
    script(type="module", src='../js/later.js')
    script(type="module", src='../js/common.js')

block content
    include ../components/index.html
