extends ../layouts/main.pug

block scripts
     script(type="module", src='/src/js/git_url_parser.js')
     script(type="module", src='/src/js/common.js')
     script(type="module", src='/src/js/info.js')

block content
    include ../components/info.html
