extends ../layouts/main.pug

block scripts
    script(type="module", defer src='../js/upload.js') 
    script(type="module", defer src='../js/common.js')

block content
    include ../components/upload.html
